/*
Windows XP Color Palatte
Cyan-Blue Azure: Hex #3B77BC
Cinnabar: Hex #DE482B
Bud Green: Hex #81C046
Tangerine Yellow: Hex #FCCF03
*/

/* Default */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* I absolutely despise CSS. */

* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}

body {
  background-color: #3B77BC;
}

/* Navigation */
.navigation {
  height: 10vh;
  background-color: #DE482B;
  width: 100vw;
  border-bottom: 1px solid black;
}
.navigation__image {
  width: 10vh;
  vertical-align: middle;
}
.navigation__sitename {
  display: inline;
  vertical-align: middle;
  font-weight: 600;
}
.navigation__navbar__list {
  list-style-type: none;
  overflow: hidden;
  background-color: #81C046;
}
.navigation__navbar__list__item {
  float: left;
}
.navigation__navbar__list__item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation__navbar__list__item a:hover {
  background-color: #659637;
}

/* Main */
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
}
.main__title {
  font-weight: 900;
  margin-bottom: 5px;
}
.main__left {
  /* display: inline-block; */
  float: left;
  width: 50%;
}
.main__right {
  /* display: inline-block; */
  float: left;
  width: 50%;
}
.main__left__image {
  border: 1px solid black;
  border-radius: 50%;
  width: 150px;
}
.main__left__image__caption {
  font-size: 0.8em;
  color: lightslategray;
}
.main__right__paragraph {
  margin-bottom: 5px;
}


/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #FCCF03;
  border-top: 1px solid black;
}
.footer__paragraph {
  display: inline-block;
  background-color: white;
  line-height: 10vh;
  border-right: 1px solid black;
}
.footer__list, .footer__list__item {
  display: inline-block;
}
.footer__list {
  font-weight: bold;
}
.footer__list__item a {
  text-decoration: none;
  color: black;
}
.footer__list__item a:hover {
  font-weight: 900;
}


/* Media Query Stuff */
@media (max-width: 564px) {
  .main {
    width: 60%;
  }
  .main__left, .main__right {
    float: none;
    width: 100%;
  }
  .main__left__image__caption {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .main {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .main {
    font-size: 0.8em;
  }
  .main__left, .main__right {
    font-size: 0.6em;
  }
  .main__left__image {
    width: 30%;
  }
}